In [2]:
#  Task 2 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
# 1 . Try to reverse a list 
# 2.  Try to access 234 out of this list 
# 3 . try to access 456 
# 4 . Try to extract only a list collection form list l 
# 5 . Try to extract "sudh"
# 6 . Try to list all the key in dict element avaible in list 
# 7 . Try to extract all the value element form dict available in list

In [4]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [3]:
# Q1 
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [10]:
l.reverse()

In [11]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [12]:
# Q2
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [18]:
l[7][0]

234

In [29]:
list(l[8].keys())[1]

234

In [30]:
# Q3 . try to access 456
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [32]:
l[5][1]

456

In [33]:
# Q4 . Try to extract only a list collection form list l
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [36]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [37]:
# Q5 . Try to extract "sudh"
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [41]:
l[8]["key1"]

'sudh'

In [42]:
# Q6 . Try to list all the key in dict element avaible in list.
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [45]:
list(l[8].keys())

['key1', 234]

In [46]:
# Q7 . Try to extract all the value element form dict available in list
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [49]:
list(l[8].values())

['sudh', [23, 45, 656]]

In [36]:
# Task 3.

# q1 :
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon

# q2 - 

#              ineruon
#       ineruon       ineruon
# ineruon		ineruon 	ineruon
#   	ineruon		  ineruon
# 		      ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q3 : Try to extract all the list entity 
# q4 : Try to extract all the dict enteties
# q5 : Try to extract all the tuples entities
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
# q7 : Try to give summation of all the numeric data 
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
# q9 : Try to extract "ineruon" out of this data
# q10 : Try to find out a number of occurances of all the data 
# q11 : Try to find out number of keys in dict element
# q12 : Try to filter out all the string data 
# q13 : Try to Find  out alphanum in data
# q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset
# q15 : Try to unwrape all the collection inside collection and create a flat list.

In [37]:
# Q1
n = int(input("Enter the number : "))
print()
for i in range(n):
    print("ineuron "*(i+1))

Enter the number : 5

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [38]:
# Q2 
a = 1
b = 3
rows = b-a+1
for i in range(rows):
    print("       "*(rows-i-1), "ineuron       "*(i+1))
for j in range(rows-2,-1,-1):
    print("       "*(rows-j-1), "ineuron       "*(j+1))

               ineuron
        ineuron       ineuron
 ineuron       ineuron       ineuron
        ineuron       ineuron
               ineuron

In [39]:
# Q2 : Another way to make this pattern, the simpler way

In [40]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 -i
    print(("ineuron      "*n).center(50,' '))

                  ineuron
            ineuron      ineuron
     ineuron      ineuron      ineuron
            ineuron      ineuron
                  ineuron

In [41]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [42]:
# Q3 : Try to extract all the list entity 

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [43]:
# Q4 : Try to extract all the dict enteties

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [44]:
# Q5 : Try to extract all the tuples entities

for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [45]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [49]:
# Q6 : Try to extract all the numerical data it may b a part of dict key and values


l2 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i)==set:
        for j in i:
            if type(j) == int:
                #print(j)
                l2.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                l2.append(k)
                l2.append(v)
                #print(k)
                #print(v)
print(l2)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [51]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [52]:
# Q7 : Try to give summation of all the numeric data 

sum(l2)

156

In [62]:
# Q8 : Try to filter out all the odd values out all numeric data which is a part of a list 

odd_list = []
even_list = []
for i in l2:
    if i%2 !=0:
        odd_list.append(i)
    else:
        even_list.append(i)
print("list of Odd no ",odd_list)
print("list of Even no",even_list)

list of Odd no  [1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]
list of Even no [2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [63]:
# Q8 : Try to filter out all the odd values out all numeric data which is a part of a list  
# Another way

for i in l2:
    if i % 2 ==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [9]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [19]:
# Q9 : Try to extract "ineruon" out of this data

str_list = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == "ineuron":
                str_list.append(j)
                #print(j)
    if type(i) == dict:
        for k in i.values():
            if k == "ineuron":
                str_list.append(k)
                #print(k)
print(str_list)

['ineuron', 'ineuron']

In [48]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [65]:
# Q10 : Try to find out a number of occurances of all the data 

l2 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == str:
                l2.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(k) == str or type(v) == int or type(v) == str :
                l2.append(k)
                l2.append(v)
print("Extracted all data in single list","\n")
print(l2,"\n")   # Extracted all data in one list.

# Code to count the number of occurances of all data.
s = set(l2)
for i in s:
    print(i,":",l2.count(i))

Extracted all data in single list

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
ineuron : 2
k3 : 1
8 : 1
45 : 1
k1 : 1
23 : 1
kumar : 1
data science  : 1
sudh : 1

In [66]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [80]:
# Q11 : Try to find out number of keys in dict element

l2 = []  
for i in l:
    if type(i) == dict:
        for k in i.keys():
            l2.append(k)
            
print("number of keys in given data is",len(l2))

# Another way to do this

for i in l:
    if type(i) == dict:
        print("number of keys is -", len(list(i.keys())))

number of keys in given data is 5
number of keys is - 5

In [81]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [84]:
# Q12 : Try to filter out all the string data 

for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                 print(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == str:
                    print(g)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [91]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [95]:
# Q13 : Try to Find  out alphanum in data

# First extract all data in single list say l2
l2 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == str:
                l2.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(k) == str or type(v) == int or type(v) == str :
                l2.append(k)
                l2.append(v)
                
# code to find out alphanum data                
for i in l2:
    if type(i) == str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [97]:
l2

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [107]:
# Q14 : Try to find out multiplication of all numeric value 

l3 = []
for i in l2:
    if type(i) == int:
        l3.append(i)
print("list l3: ",l3,"\n")
print("sum of data is :", sum(l3))

# For multiplication
j = 1
for i in l3:
    j = j*i
print("multiplication of l3 is ",j)

list l3:  [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

sum of data is : 156
multiplication of l3 is  908605071360000

In [129]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [145]:
# # Q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [165]:

for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                m = m * j
        print(m)
    if type(i) == dict:
        for k in i.items():
            for n in k:
                if type(n) == int:
                    m = m*n
        print(m)

24
720
2520
20700
1008
1

In [ ]:
# Q15 : Try to unwrape all the collection inside collection and create a flat list.

In [167]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [169]:
l5 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l5.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                l5.append(g)
print(l5)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]